{% extends 'base.html.twig' %}

{% block title %}User Settings{% endblock %}
{%block stylesheets%}
    <link rel="stylesheet" href="{{ asset('styles/profile.css') }}">
{% endblock %}

{% block body %}
    <div class="settings-container">
        <h1>User Settings</h1>
        <div class="settings-item">
            <label>Email:</label>
            <span>{{ user_email }}</span>
        </div>
        <div class="settings-item">
            <label>Password:</label>
            <span>******** (hidden for security reasons)</span>
        </div>
    </div>
{% endblock %}