
.card-img-top {
    height: 200px; /* Adjust the height as needed */
    object-fit: cover; /* Ensures the image covers the entire area */
    object-position: center; /* Centers the image */
}
.main-content {
    padding-bottom: 100px;
}